---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>My teaching and mentoring philosophy is evidence-based, student-centered, and inclusive, aiming to equip students with analytical and critical thinking skills to address real-world environmental and climate policy challenges through interactive, research-informed, and supportive learning environments.
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
